/* Font Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* Default Styles for Navigation Links and Button (Hamburger-Style Navbar) */
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
    list-style: none; /* Remove bullet points */
    display: inline; /* Display as inline elements */
    margin-right: 20px; /* Increase spacing between navigation links */
    margin-left: 20px; /* Move the navigation links to the left */
}

/* Header Styles */
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* Ensure the navbar appears above other content */
    background-color: red; /* Background color of the navbar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for separation */
    border-bottom: 2px solid rgb(14, 14, 14);
}

/* Logo Styles */
.logo {
    cursor: pointer;
}

nav.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%; /* Adjust padding as needed */
    background-color: transparent; /* Background color of the navbar */
}

.nav__links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end; /* Move the navigation links to the right */
}

.nav__links li {
    margin-left: 20px; /* Increase left margin for spacing */
}

.nav__links a {
    text-decoration: none;
    color: #333; /* Link text color */
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Navigation link hover effect */
.nav__links li a:hover {
    color: aquamarine; /* Change the text color to aquamarine when hovered */
    transition: color 0.3s ease; /* Add a smooth transition effect */
}

/* Navigation Styles (Hamburger-Style Navbar) */


.burger {
    display: none; /* Hide the hamburger icon by default */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #edf0f1;
    margin: 5px 0;
    transition: 0.4s;
}

/* Style for the "Contact" button */
button {
    padding: 9px 15px; /* Adjust padding for a less blocky appearance */
    background-color: rgba(1, 18, 22, 0.8); /* Use a darker color */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

button:hover {
    background-color: rgba(0, 136, 169, 1); /* Darken the color when hovered */
}

/* Media query for smaller screens (Hamburger-Style Navbar) */
@media screen and (max-width: 768px) {
    .burger {
        display: block; /* Show the hamburger icon on smaller screens */
    }

    .nav__links {
        display: none; /* Hide the navigation links on smaller screens */
    }
}

/* Styles for general section flex box. */
.section-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px; /* Default minimum height */
    background-color: #f7f7f7; /* Default background color */
    padding: 20px; /* Default padding */
    text-align: center;
}


.section-flex .content {
    max-width: 800px; /* Limit the content width */
    margin: 0 auto; /* Center the content horizontally */
}


/* Flexbox container for the slider section */
.section-flex[data-section="slider-section"] {
    padding: 0;
    flex: 1 0 100%;
}

/* Style the slider container */
.slider-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    transition: transform 0.5s ease; /* Add a smooth transition effect */
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    opacity: 0.7;
}

.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0.7; /* Adjust the opacity as needed */
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
   width: 0.5rem;
   height: 0.5rem;
   border-radius: 50%;
   background-color:#fff;
   opacity: 0.75;
   transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .slider-nav {
        display: none;
    }
}

/* Custom styles for Home page section 1 */
.section-flex[data-section="home"] {
    background-color: #f0f0f0;/* changes background of section  */
    min-height: 400px;
}

/* Styling the home heading (h) text */
.section-flex[data-section="home"] h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #333;
    margin-top: 30px; /* changes how far the text is from the top (higher num -> lower on screen) */
}

/* Styling the home paragraph (p) text */
.section-flex[data-section="home"] p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    margin-top: 30px; /* changes how far the text is from the top (higher num -> lower on screen) */
}

/* Custom styles for home page section 2 */
.section-flex[data-section="about"] {
    background-color: #544f4f;
    padding: 30px;
}

.section-flex[data-section="contact"] {
    background-color: #d0d0d0;
    text-align: left;
    padding: 10px;
}

/* Styles for the footer section */
footer {
    background-color: #333; /* Background color for the footer */
    color: white; /* Text color for the footer */
    padding: 20px 0; /* Adjust padding as needed */
}


.footer-content {
    max-width: 1200px; /* Limit the content width */
    margin: 0 auto; /* Center the content horizontally */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.footer-info, .footer-links, .footer-social {
    flex: 1;
    padding: 0 20px;
}


.footer-links ul {
    list-style: none;
}


.footer-links ul li {
    margin-bottom: 10px; /* Adjust spacing between links */
}


.social-icon {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between social icons */
    color: white;
    text-decoration: none;
}


/* Copyright notice */
.copyright {
    text-align: center;
    margin-top: 20px; /* Adjust spacing from the footer content */
}


/* Additional styles to remove margin and padding for body and html */
body, html {
    margin: 0;
    padding: 0;

}


/* Styles specific to the FAQ page */
.section-flex[data-section="faq"] {
    background-color: #f0f0f0;/* changes background of section  */
    min-height: 400px;
}

/* Styling the home heading (h) text */
.section-flex[data-section="faq"] h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #333;
    margin-top: 50px;
    margin-top: 30px; /* changes how far the text is from the top (higher num -> lower on screen) */
}


/* Styles specific to the About Us page */
.about-section {
    background-color: #f7f7f7; /* Custom background color for the About section */
    padding: 60px 0; /* Custom padding for the section */
    text-align: center;
}


.about-section .content {
    max-width: 800px; /* Limit the content width */
    margin: 0 auto; /* Center the content horizontally */
}


/* Custom styles for About Us heading */
.about-heading {
    font-size: 28px;
    color: #333;
    margin-top: 20px;
}


/* Custom styles for About Us paragraphs */
.about-paragraph {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}







