/* Font Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* DEFAULT Styles for Navigation Links and Button (Hamburger-Style Navbar) */
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
    list-style: none; /* Removes bullet points */
    display: inline; /* Display as inline elements */
    margin-right: 20px; /* Increase spacing between navigation links */
    margin-left: 18px; /* Move the navigation links to the left */
}

/* Header Styles */
header {
    position: fixed; /* Navbar stays at the top */
    top: 0;
    left: 0;
    right: 0;
    display: flex; /* css Flexbox integration, allows for auto-alignment of elements */
    justify-content: space-between; /* All available space is inserted between the first and last items, pushing them to the container's opposing ends*/
    align-items: center; 
    padding: 10px 10%; /* space between content and border. */
    background-color: red; /* Change background color of Navbar here */
    border-bottom: 2px solid rgb(92, 89, 89); /* color of bottom border */
}

/* Style for the rest of the website background */
body {
    background-color: darkgray; /* Change background color here */
}

/* Logo Styles */
.logo {
    cursor: pointer;
}

/* Navigation Styles (Hamburger-Style Navbar) */
.nav {
    display: flex; /* Change to flex to display the navigation menu */
    align-items: center;
    margin-left: auto; /* Right-align the navigation links */
}

.burger {
    display: none; /* Hide the hamburger icon by default */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #edf0f1;
    margin: 5px 0;
    transition: 0.4s;
}

/* Style for the "Contact" button */
button {
    padding: 9px 15px; /* Adjust padding for a less blocky appearance */
    background-color: rgba(1, 18, 22, 0.8); /* Use a darker color */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

button:hover {
    background-color: rgba(0, 136, 169, 1); /* Darken the color when hovered */
}

/* Navigation link hover effect */
.nav__links li a:hover {
    color: aquamarine; /* Change the text color to aquamarine when hovered */
    transition: color 0.3s ease; /* Add a smooth transition effect */
}

/* Media query for smaller screens (Hamburger-Style Navbar) */
@media screen and (max-width: 768px) {
    .burger {
        display: block; /* Show the hamburger icon on smaller screens */
    }

    .nav__links {
        display: none; /* Hide the navigation links on smaller screens */
    }
}