<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>Dj Web Design</title> <!-- Add page title here -->
</head>
<body>
    <div class="navbar-container">
        <header>
            <!-- Navbar structure -->
            <nav class="nav"> 
                <ul class="nav__links">
                    <li><a href="{{ url_for('views.home') }}">Home</a></li>
                    <li><a href="{{ url_for('views.faq') }}">FAQ</a></li>
                    <li><a href="{{ url_for('views.about') }}">About the DJ's</a></li>
                </ul>
                <a class="cta" href="#"><button>Contact</button></a>
                <div class="burger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </nav>
        </header>
    </div>

    <!-- Section 1: White background -->
    {% block content %}
    <section class="section-flex" >
        <div class="content">
            <h1>Default Section</h1>
            <p>This is a default section. Customize it as needed.</p>
        </div>
    </section>
    <section class="section-flex" >
        <div class="content">
            <h1>Default Section</h1>
            <p>This is a default section. Customize it as needed.</p>
        </div>
    </section>
    <section class="section-flex" >
        <div class="content">
            <h1>Default Section</h1>
            <p>This is a default section. Customize it as needed.</p>
        </div>
    </section>
    {% endblock %}

    <!-- Add more sections as needed -->

    <!-- Footer Section -->
    <footer>
        <div class="footer-content">
            <div class="footer-info">
                <p>Contact Information:</p>
                <p>Email: your@email.com</p>
                <p>Phone: (123) 456-7890</p>
            </div>
            
            <div class="footer-social">
                <a href="#" class="social-icon">Facebook</a>
                <a href="#" class="social-icon">Twitter</a>
                <a href="#" class="social-icon">LinkedIn</a>
                <a href="#" class="social-icon">Instagram</a>
                <!-- Add more socials as needed -->
            </div>
        </div>
        <div class="copyright">
            &copy; 2023 Sankeerth Mahesh. All rights reserved.
        </div>
    </footer>
    

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>